@import "reset.css";

.App {
    background-image: url(../images/start-pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#start-view{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    form {
        width: 400px;
        height: 350px;
        border: 1px solid grey;
        border-radius: 10%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: rgba(255,255,255,0.6);

        h2 {
            align-self: center;
            font-weight: bold;
            font-size: 1.7rem;
            padding: 1.5rem;
        }

        input, select {
            padding: 5px;
            margin: 5px;
            background: rgba(255, 255, 255, 0.6);
        }
    }
}


#main-view {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#panel {
    height: 500px;
    width: 180px;
    padding: 40px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


    #dice-roller > button {
        padding: 10px;
        margin: 10px 0;
        width: 128px;
    }

    #messageBox {
        padding-top: 30px;

        p {
            margin: 5px;
        }
    }
}


#board {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10%;
    background-color: rgba(255,255,255,0.9);

    div.row {
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;


            .pawn {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }


    }

    .track {
        border: 1px solid lightgray;
    }

    .redBase, .redHome, .redStart {
        border: 1px solid lightgray;
        background-color: rgba(255, 0, 0, 0.5);
    }
    .blueBase, .blueHome, .blueStart {
        border: 1px solid lightgray;
        background-color: rgba( 0, 0, 255, 0.5);
    }
    .greenBase, .greenHome, .greenStart {
        border: 1px solid lightgray;
        background-color: rgba(0, 255, 0, 0.5);
    }
    .yellowBase, .yellowHome, .yellowStart {
        border: 1px solid lightgray;
        background-color: rgba(255, 255, 0, 0.5);
    }

}