@import url(reset.css);
.App {
  background-image: url(../images/start-pic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#start-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #start-view form {
    width: 400px;
    height: 350px;
    border: 1px solid grey;
    border-radius: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6); }
    #start-view form h2 {
      align-self: center;
      font-weight: bold;
      font-size: 1.7rem;
      padding: 1.5rem; }
    #start-view form input, #start-view form select {
      padding: 5px;
      margin: 5px;
      background: rgba(255, 255, 255, 0.6); }

#main-view {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-grow: revert;
  justify-content: space-around; }

#panel {
  height: 500px;
  width: 180px;
  padding: 40px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  #panel #dice-roller > button {
    padding: 10px;
    margin: 10px 0;
    width: 128px; }
  #panel #messageBox {
    padding-top: 30px; }
    #panel #messageBox p {
      margin: 5px; }

#board {
  height: 550px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.9); }
  #board div.row {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #board div.row div {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #board div.row div .pawn {
        width: 45px;
        height: 45px;
        border-radius: 50%; }
  #board .track {
    border: 1px solid lightgray; }
  #board .redBase, #board .redHome, #board .redStart {
    border: 1px solid lightgray;
    background-color: rgba(255, 0, 0, 0.5); }
  #board .blueBase, #board .blueHome, #board .blueStart {
    border: 1px solid lightgray;
    background-color: rgba(0, 0, 255, 0.5); }
  #board .greenBase, #board .greenHome, #board .greenStart {
    border: 1px solid lightgray;
    background-color: rgba(0, 255, 0, 0.5); }
  #board .yellowBase, #board .yellowHome, #board .yellowStart {
    border: 1px solid lightgray;
    background-color: rgba(255, 255, 0, 0.5); }
